.content2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.button {
	width: 95vw;
}

.card {
	width: 95vw;
	margin-block: 0.5rem;
	padding: 1rem;
	border-radius: var(--radius-conditional-2);
	/* border: black 2px solid; */
	background-color: var(--brand);
	box-shadow: var(--shadow-4);
}

.label {
	font-weight: bold;
	color: black;
}

.input {
	resize: none;
	height: auto;
	font-weight: normal;
	width: 100%;
	color: black;
	background-color: antiquewhite;
	margin-top: 4px;
}

.gap {
	height: 1rem;
}

@media (max-width: 600px) {
	.card {
		width: 97vw;
		border-radius: 0;
	}
}
