.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	gap: 0.5rem;
	width: 100vw;
}

.clippedTab {
	background-color: var(--surface2);
	position: relative;
	padding-inline: 1.5rem;
	padding-block: 0.5rem;
	box-shadow: var(--shadow-4);
	clip-path: polygon(0% 0%, 100% 0%, 90% 200%, 10% 200%);
	cursor: pointer;
	border-top: var(--brand2) solid 1px;
}

.perspectiveTab {
	background-color: transparent;
	position: relative;
	padding-inline: 1.5rem;
	padding-block: 0.5rem;
	/* box-shadow: var(--shadow-4); */
	cursor: pointer;
	perspective: 200px;
	translate: 5px 0.3rem;
	font-weight: bold;
}

.perspectiveTab:hover {
	color: red;
}
.perspectiveTab::after {
	position: absolute;
	content: '';
	background-color: var(--surface1);
	inset: 0;
	rotate: x -60deg;
	scale: 1 2;
	z-index: -1;
	box-shadow: var(--shadow-4);
}

.perspectiveTab:hover::after {
	background: linear-gradient(hsl(31, 59%, 83%), hsl(40, 69%, 53%));
}

.selected::after {
	background: linear-gradient(hsl(31, 59%, 83%), hsl(40, 69%, 53%));
}

.selected {
	font-weight: bold;
}
