.main {
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.newFriendForm {
	margin-top: 1rem;
	margin-left: 1rem;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem;
	max-width: fit-content;
}

.newFriendTitle {
	font-size: var(--font-size-fluid-0);
	color: red;
}

.newFriendSelect {
	margin-top: 1rem;
	box-shadow: var(--shadow-3);
}

.newFriendButton {
	margin-top: 1rem;
	box-shadow: var(--shadow-3);
}

.friend {
	margin-top: 1rem;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	width: 100%;
}

.friendName {
	font-size: var(--font-size-fluid-0);
	padding-right: 1rem;
}
