.main {
	/* margin-top: 100px; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-top: 3rem;
}

/* .titleContainer {
	height: 100px;
	width: 100%;
	margin-inline: auto;
	border: red solid 2px;
} */

.titleParent {
	font-size: 25px;
}
.title {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size: 3.5em;
	text-align: center;
	color: var(--brand);
	text-shadow: var(--surface-1) -0.1em 0.1em 0.2em,
		var(--surface-1) 0.1em -0.1em 0.2em;
	z-index: 10;
	margin-top: var(--size-fluid-5);
	font-weight: 700;
}

.title::before {
	content: '';
	position: absolute;
	top: -0.2em;
	left: 0.15em;
	width: 2em;
	height: 2em;
	border-color: transparent;
	border-radius: 50%;
	background: transparent;
	opacity: 0.6;
	z-index: -1;
	box-shadow: inset var(--brand) 0em 0em 0.2em 0.3em,
		var(--surface-1) 0em 0em 0.3em 0.05em;
}

.subHeading {
	text-align: center;
	width: clamp(250px, 50%, 800px);
	min-width: 80vwpx;
	font-size: var(--font-size-4);
	margin-top: var(--size-11);
	z-index: 1;
	margin-inline: 1rem;
}

.note {
	background-color: hsl(0, 0%, 90%, 0.2);
	border-radius: 10px;
	padding: 0.1rem 0.7rem;
	font-weight: var(--font-weight-5);
	margin-top: 1rem;
	z-index: 1;
	font-size: var(--font-size-2);
}

.image {
	opacity: 0.4;
	z-index: -1;
}

.buttonDiv {
	z-index: 1000;
	isolation: isolate;
}

.navBar {
	transform: translateY(-60px);
	display: flex;
	justify-content: space-between;
	width: 100%;
	z-index: 1;
}

.navIcon {
	stroke: var(--text1);
	fill: var(--brand2);
	cursor: pointer;
	z-index: 10;
}

.newButton {
	z-index: 10;
	margin-top: var(--size-fluid-5);
	display: inline-flex;
	white-space: nowrap;
	font-size: var(--font-size-1);
	font-weight: var(--font-weight-7);
	padding-inline: var(--size-6);
	padding-block: var(--size-3);
	color: white;
	border: var(--border-size-2) solid white;
	background-color: var(--brand);
	border-radius: var(--radius-2);
}

.newButton:hover {
	color: white;
	border: var(--border-size-2) solid white;
	background-color: var(--orange-2);
}
