.hero {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	background-color: var(--surface2);
	z-index: 4;
	border-bottom: var(--brand) 3px solid;
}

.nameBadge {
	display: flex;
	justify-content: stretch;
	align-items: center;
	padding-inline: 1rem;
}

.signOutButton {
	padding: 0.1rem 0.5rem;
	font-weight: normal;
}

.imageContainer {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	overflow: hidden;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
}

.name {
	align-self: center;
	justify-self: center;
	font-family: var(--font-mono);
	font-size: var(--font-size-5);
	font-weight: var(--font-weight-5);
	color: var(--text1);
}
