.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	gap: 0.5rem;
	height: 2rem;
	width: 100vw;
	position: relative;
	transition: transform 2s;
	/* border-bottom: solid 2px var(--surface-4); */
	background-color: var(--surface-3);
	z-index: 1;

	border-top: var(--brand) 3px solid;
}
.menuTab {
	color: var(--text2);
	padding-inline: 2rem;
	padding-bottom: 0.5rem;
	height: 1rem;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	text-decoration: none;
	/* transform: translateY(2px); */
}

.selected {
	font-weight: bold;
	border: solid 2px var(--surface-4);
	border-top: var(--surface-2);
	background-color: var(--surface2);
	z-index: 2;
}

.unselected {
	background-color: inherit;
	font-weight: 400;
	z-index: -1;
}

.unselected:hover {
	transition: background-color 0.1s;
	background-color: var(--surface-4);
	/* font-weight: 500; */
}

.hidden {
	position: absolute;
	transform: translateX(-500px) translateY(-1px);
	transition: transform 2s;
}
.unhidden {
	position: absolute;
	transform: translateX(0px) translateY(-1px);
	transition: transform 2s;
	/* display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch; */
}
